* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Calibri;
}

body {
  background: linear-gradient(0.25turn, #0e0e0e 16.62%, #1e1e1e 85.61%);
}

.headerc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 17px;
  border-bottom: 0.5px solid white;
}

.headerc img {
  width: 85px;
}

.headerc nav {
  display: flex;
  gap: 15px;
  font-family: Calibri;
  color: white;
}

.headerc nav a {
  color: white;
}

.headerc nav a:hover {
  color: rgb(255, 0, 0);
  border-bottom: 0.50px solid rgb(255, 0, 0);
}

/* Style buttons */
.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.contentc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.contentc-esc {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: white;
  flex-wrap: wrap;
}

.contentc-esc h1 {
  font-weight: 400;
  font-size: 64px;
}

.contentc-esc h2 {
  font-weight: 400;
  font-size: 24px;
}

.contentc-esc button {
  background-color: white;
  color: black;
  width: 180px;
  height: 60px;
  border-radius: 1em;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.596);
  font-size: 20px;
  cursor: pointer;
}

.contentc-esc button:hover {
  background-color: rgb(255, 0, 0);
}

.contentc-esc a {
  color: black;
}

.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:2em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:0;
  left:0;
}